$bg-white-theme: #F8F5F2;
$links-white-theme: #078080;
$text-white-theme: #222525;
$design-white-theme: #F45D48;

$bg-black-theme: #222525;
$links-black-theme: #7F5AF0;
$text-black-theme: #FFFFFE;
$design-black-theme: #2CB67D;
