.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    background-color: #fffffe;
    border-radius: 20px;
    border: 1px solid #fffffe;
    overflow: hidden;
    position: relative;
    user-select: none;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

        .title {
        font-size: 24px;
        font-weight: 500;
        color: #333;
        margin-bottom: 20px;
        }

        .formBody {
            margin: 12px 24px 0px 24px;
            display: flex;
            flex-direction: column;
            position: relative;
            justify-content: center;
            align-items: flex-end;

            input {
                width: 300px;
                height: 40px;
                border: 1px solid #ccc;
                border-radius: 9px;
                padding: 0 10px;
                margin-bottom: 9px;
                user-select: none;
            }

            label {
                position: relative;
                font-size: 9pt;
                top: -6px;
                cursor: pointer;
            }

            .showPass {
                position: absolute;
                top: 0px;
            }
        }
    }

    .formHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        background-color: #fffffe;
        padding: 24px;
    }

    .formFooter {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        background-color: #fffffe;
        padding: 6px 0px 0px 0px;

        button {
            width: 200px;
            height: 40px;
            border: 0px solid rgba(0, 0, 0, 0.4);
            border-radius: 9px;
            background-color: #078080;
            color: #fffffe;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
    
                &:hover {
                    background-color: rgba($color: #078080, $alpha: 0.7);
                }
            }
    }

    .alternateLogins {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 24px;

        button {
            width: 60px;
            height: 60px;
            border: 1px solid rgba(0, 0, 0, 0.4);
            border-radius: 9px;
            background-color: #fffffe;
            color: #078080;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
    
                &:hover {
                    background-color: rgba($color: #078080, $alpha: 0.1);
                }
            img {
                width: 40px;
                height: 40px;
            }
        }
    }

    .registerText {
        font-size: 12px;
        position: absolute;
        bottom: 0px;
        color: #333;
        margin-top: 12px;
        cursor: pointer;
        padding: 0px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }

        b {
            color: #078080;
        }
    }

    .lineText {
        line-height: 1em;
        width: 100%;
        position: relative;
        outline: 0;
        border: 0;
        color: black;
        text-align: center;
        height: 1.5em;
        opacity: .5;
        &:before {
            content: '';
            background: linear-gradient(to right, transparent, #000000, transparent);
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: 1px;
        }
        &:after {
            content: attr(data-content);
            position: relative;
            display: inline-block;
            color: black;

            padding: 0 .5em;
            line-height: 1.5em;
            color: rgba($color: #000000, $alpha: 0.9);
            background-color: #fcfcfa;
        }
    }
}

.loginBack {
    position: absolute;
    bottom: 24px;
    left: 0px;
    z-index: 0;
    user-select: none;
}

.loginBackFiles {
    position: absolute;
    top: 48px;
    right: 96px;
    z-index: 0;
    user-select: none;
}
