:root {
  --bg-white-theme: #F8F5F2;
  --links-white-theme: #078080;
  --text-white-theme: #222525;
  --design-white-theme: #F45D48;
  --form-container-white-theme: #FFFFFE;

  --bg-black-theme: #222525;
  --links-black-theme: #7F5AF0;
  --text-black-theme: #FFFFFE;
  --design-black-theme: #2CB67D;
}

body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Roboto';
}

code {
  font-family: source-code-pro, Menlo, Roboto, Monaco, Consolas, "Courier New",
    monospace;
}

div {
  margin: 0;
}

.page {
  width: 100vw;
  height: calc(100vh - 89px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-white-theme);
  position: relative;
}